
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<h2>About us</h2>
<p><b>Name: </b>Vinod Kumar Kayartaya</p>
<p><b>City: </b>Bangalore</p>
<p><b>Email: </b>vinod@vinod.co</p>
<p><b>Phone: </b>9731424784</p>

