
@{
    ViewBag.Title = "ManageUsers";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<h2>Manage Users</h2>
<p>Here you can manage users. For example, add new user details,
    or modify/delete existing users.</p>

